/* 1. TÁCH NÚT SỬA VÀ XÓA */
/* Tác động trực tiếp vào thẻ a (nút) trong cột list-buttons-column */
td.list-buttons-column > a,
td.list-buttons-column > form {
    margin-right: 24px !important; /* Đẩy xa ra */
    display: inline-block !important;
}

/* 2. ẨN "WITH SELECTED" VÀ CỘT CHECKBOX */
/* Ẩn dòng chứa nút hành động hàng loạt */
.action-row, .actions-nav {
    display: none !important;
}
/* Ẩn luôn cột checkbox đầu tiên của bảng */
.list-checkbox-column {
    display: none !important;
}
/* Ép màu xanh cho tiêu đề cột Công Thức Chi Tiết */
th.col-chi_tiet_cong_thuc {
    color: #1abc9c !important;
}
  .admin-logout {
    color: #ffffff !important;
    font-weight: 500;
  }

  .admin-logout:hover {
    color: #f8f9fa !important; /* trắng nhạt khi hover */
    text-decoration: none;
  }
